In [3]:
from cyto.postprocessing.graph import *
from cyto.utils.label_to_table import *
import dask_image.imread
import matplotlib.pyplot as plt
import matplotlib.patches as patches
%matplotlib inline
import numpy as np
import pyclesperanto_prototype as cle
from skimage import exposure
import pandas as pd

In [4]:
FRAMES = 100 # define number of frames to perform killing analysis

In [5]:
# Load tracking file and merge with the contact analysis table
TRACK_PATH = "/mnt/Data/UTSE/2023_10_17_Nyeso1HCT116_1G4CD8_icam_FR10s_0p1mlperh/tracks/cancer_tracks/tracks/tracks_param_00000.csv"

tracks_df_cancer = pd.read_csv(TRACK_PATH)
tracks_df_cancer = tracks_df_cancer.sort_values(by=["t"])
tracks_df_cancer = tracks_df_cancer[tracks_df_cancer["t"] < FRAMES]
tracks_df_cancer

        track_id   t      y      x         id  parent_track_id  parent_id
0              1   0    4.0   47.0    1000015               -1         -1
383285      1088   0  823.0  884.0    1008155               -1         -1
383165      1087   0  815.0  934.0    1008152               -1         -1
382805      1086   0  855.0  977.0    1008149               -1         -1
382538      1085   0  775.0  969.0    1008147               -1         -1
...          ...  ..    ...    ...        ...              ...        ...
290063       853  99  568.0  738.0  100006768               -1   99006707
590752      2544  99  644.0  416.0  100007240               -1         -1
82276        221  99  145.0  382.0  100002052               -1   99002057
519338      1927  99  131.0  838.0  100001095               -1   99000812
545415      2139  99  461.0   39.0  100005434               -1   99005371

[134763 rows x 7 columns]

In [6]:
# Load tracking file and merge with the contact analysis table
TRACK_PATH = "/mnt/Data/UTSE/2023_10_17_Nyeso1HCT116_1G4CD8_icam_FR10s_0p1mlperh/tracks/tcell_tracks/tracks/tracks_param_00000.csv"

tracks_df_tcell = pd.read_csv(TRACK_PATH)
tracks_df_tcell = tracks_df_tcell.sort_values(by=["t"])
tracks_df_tcell = tracks_df_tcell[tracks_df_tcell["t"] < FRAMES]
tracks_df_tcell

         track_id   t      y      x         id  parent_track_id  parent_id
0               1   0    1.0   21.0    1000002               -1         -1
1852152     10456   0  444.0   83.0    1017364               -1         -1
1852146     10455   0  443.0  521.0    1017357               -1         -1
1851890     10454   0  442.0  205.0    1017354               -1         -1
2489838     14040   0  725.0  289.0    1023456               -1         -1
...           ...  ..    ...    ...        ...              ...        ...
4110667     27807  99  539.0  255.0  100020961               -1   99020947
4483708     32693  99  715.0  776.0  100026947               -1   99027159
4520978     33366  99  894.0   38.0  100031430               -1   99031036
1692792      9594  99  439.0  421.0  100015870               -1   99015338
4110388     27801  99  574.0  337.0  100019404               -1   99019639

[1155561 rows x 7 columns]